

html {
  margin:0px;
  padding:0px;
  min-height:100%;
  width:100%;
  overflow-x:hidden;
  position:relative;
}

body {
  margin:0px;
  padding:0px;
  font-family: 'Roboto', Arial, sans-serif;
  color:#000;
  width:100%;
  overflow-x:hidden;
  height:100%;
}

.bodyWrapper{
  position:relative;
  min-height: 100vh;
  width:100%;
  height:100%;
  margin: 0 auto;

}

/* Page content */
#mainContent {
  z-index: 10;
  width:100%;
  position:relative;
  margin:0 auto;
  padding-bottom:0px;
}



body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  color: #000;
}

/*################################  Begin Main Nav  ####################################*/

    /*Nav Bar*/
    /* Style the header */
    .navContainer {
    	top: 0;
    	width: 100%;
    	position: fixed;
      background-color:#000;
    	height: 72px;
    	z-index: 999;

    }

    /*Nav Elements*/



    /* header */

    .header {
      background-color: #000;
      box-shadow: 1px 1px 4px 0 rgba(0,0,0,0);
      position: relative;
      width: 100%;
      max-width:1100px;
      z-index: 3;
      margin:auto;
    }

    .header a {
      color: #fff;
    }

    .header ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: #000;
    }

    .header li a {
      display: block;
      padding: 20px 20px;
      text-decoration: none;
    }

    .header li a:hover {
      background-color: #202020;
    }

    .header .menu-btn:hover {
      background-color: #ebebeb;
    }

    .header .logo {
      display: block;
      float: left;
      font-size: 2em;
      padding: 10px 20px;
      text-decoration: none;
    }

    /* menu */

    .header .menu {
      clear: both;
      max-height: 0;
      transition: max-height .2s ease-out;
    }

    /* menu icon */

    .header .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
    }

    .header .menu-icon .navicon {
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .header .menu-icon .navicon:before {
      top: 5px;
    }

    .header .menu-icon .navicon:after {
      top: -5px;
    }

    /* menu btn */

    .header .menu-btn {
      display: none;
    }

    .header .menu-btn:checked ~ .menu {
      max-height: 350px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }

    /* 48em = 768px */

    @media (min-width: 62em) {
      .header li {
        float: left;
      }
      .header li a {

      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }
    }

    @media (max-width: 75em) {

      .supportModuleFullWidth {
        width:100% !important;
        max-width:700px !important;
      }


    }

    @media (max-width: 62em) {

      .mobileSearchBarDisplay{
        display:inline-block !important;
      }

      .cardAd {
        margin-top:35px !important;
        width:300px !important;
        height:250px !important;
        margin-left:0px !important;
      }

    }

    @media (max-width: 50em) {

      .mobileFullWidth {
        width:90% !important;
        max-width:700px !important;
      }

      .footerTables {
        width:100% !important;
        height:120px;
      }
      .footerWrapper {
        height:500px !important;
      }

      .margin0{
        margin-right:0px !important;
        margin-left:0px !important;
        margin-top:0px !important;
        margin-bottom:0px !important;
      }

      .mw100 {
        width:100% !important;
      }

      .w225 {
        width:225px !important;
        min-width:225px !important;
        max-width:225px !important;
      }

      .w205 {
        width:205px !important;
        min-width:205px !important;
        max-width:205px !important;
      }

      .randomCard {
        width:90% !important;
        max-width:700px;
      }

      .paddingLR0 {
        padding-left:0px !important;padding-right:0px !important;
        margin-left:0px !important;margin-right:0px !important;
      }


    }


/*############################  Begin Footer Elements  ################################*/

    /*Footer Bar*/
    .footerWrapper {
      width: 100%;
      font-size: 14px;
      text-align: center !important;
      background-color: #000;
      z-index: 999;
      height:200px;
      color: #fff;

    }

    .footerWrapper a {
      color: #fff;
    }

/*############################  Home Page Carousel  ################################*/

    .gallery {
      background: #f0f0f0;
    }

    .gallery-cell {
      width: 70%;
      height: 0;
      padding-bottom:34.5%;
      margin-right: 10px;
      background: #f0f0f0;
      counter-increment: gallery-cell;
    }



    /* cell number */
    .gallery-cell:before {
      display: block;
      text-align: center;
      content: counter(gallery-cell);
      line-height: 0;
      font-size: 0;
      color: #f0f0f0;
    }


/*############################  Stacked Card/Card Text CSS ################################*/

  .outer {
    top: -310px;
    left: 0;
    z-index: 40;
    position:relative;
    width: 223px;
    margin-top:310px;
  }

    .outer .below {
      top: 0;
      left: 0;
      position:absolute;
      z-index: 40;
    }
    .outer .top {
      top: 0;
      left: 0;
      position:absolute;
      z-index: 1000;
      margin-top:-250px;
      margin-left:-64px;
    }
    .outer .topMagGlass {
      top: 0;
      left: 0;
      position:absolute;
      z-index: 99;
      margin-left:30px;
      margin-top:285px;
      padding-top:2px;
      padding-bottom:2px;
      background-color:#555;
      height:20px;
      width:35px;
      border-radius:5px;
      border-top:solid 2px #2f2f2f;
      border-left:solid 2px #2f2f2f;
      border-right:solid 2px #2f2f2f;
      box-shadow:inset 5px 5px 10px #252424;
    }

    .top {
    visibility:hidden;
    }
    #cardHoverText {
    visibility:hidden;
    }
    .topMagGlass {
      visibility:hidden;
    }

    .outer:hover .topMagGlass{
      visibility:visible;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -webkit-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
    }

    .topMagGlass:hover #cardHoverText{
      visibility:visible;
      transform: scale(.65, .65);
      -moz-transform: scale(.65, .65);
      -ms-transform: scale(.65, .65);
      -webkit-transform: scale(.65, .65);
      -o-transform: scale(.65, .65);
      pointer-events: none;
    }
    .topMagGlass:hover .top{
      visibility:visible;
      transform: scale(.65, .65);
      -moz-transform: scale(.65, .65);
      -ms-transform: scale(.65, .65);
      -webkit-transform: scale(.65, .65);
      -o-transform: scale(.65, .65);
      pointer-events: none;
    }

    .zoom:hover {
      transition: transform .2s; /* Animation */
      transform: scale(2.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .tcgCTA:hover {
      background-color:#4498c3 !important;
      }


      a>div { display: none; }
      a:hover>div.cardFloatingImage { display: inline-block;margin-top:-150px;margin-left:20px; }

      h1 {
        font-family:'Alata', Arial, sans-serif;
      }

      h2 {
        font-family:'Alata', Arial, sans-serif;
      }


/*############################  End Stacked Card/Card Text CSS ################################*/




.popCards {
 vertical-align:top !important;
}

.randomCard {
 vertical-align:top !important;
}

/*.currentCardTD:hover .currentCard{
  position:relative;
  -webkit-animation: currentCard .5s normal ease-out;
  animation: currentCard .5s normal ease-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes currentCard {
    0% {
        top:0px;
    }
    100% {
        top: -150px;
    }
}
*/

.newArticles {
 vertical-align:top !important;
}
